In [1]:
!pip install citipy

#Dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from citipy import citipy
from pprint import pprint

#Import API key for OpenWeatherMapy
from config import owm_key

Requirement already satisfied: citipy in c:\users\austi\anaconda3\lib\site-packages
Requirement already satisfied: kdtree>=0.12 in c:\users\austi\anaconda3\lib\site-packages (from citipy)

You are using pip version 9.0.1, however version 9.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
#Generate random latitudes and longitudes (1000 random coordinates)
lat = np.random.uniform(low=-90, high=90, size=1500)
lng = np.random.uniform(low=-180, high=180, size=1500)
####print(lat, lng)

#Create coordinates (lat, lng)
coordinates = []
for each in range (0, len(lat)):
    coordinates.append((lat[each], lng[each]))
####coordinates = len(coordinates)
###coordinates

In [3]:
#Find cities nearest to the coordinates
cities = []
for each_coordinate in coordinates:
    lat, lng = each_coordinate
    cities.append(citipy.nearest_city(lat, lng))
len(cities)

1500

In [4]:
#Create DataFrame
cities_df = pd.DataFrame(cities)
cities_df["City Name"] = ""
cities_df["Country Code"] = ""
cities_df.head()

                                                   0 City Name Country Code
0  <citipy.citipy.City object at 0x0000023273C92588>
1  <citipy.citipy.City object at 0x00000232747E6940>
2  <citipy.citipy.City object at 0x0000023275708C88>
3  <citipy.citipy.City object at 0x0000023274949F98>
4  <citipy.citipy.City object at 0x000002327398A0F0>

In [5]:
#Grab city name and country code for each coordinate
for index, row in cities_df.iterrows():
    row["City Name"] = cities_df.iloc[index,0].city_name
    row["Country Code"] = cities_df.iloc[index,0].country_code
len(cities_df)

1500

In [6]:
#Drop duplicate cities
cities_df.drop_duplicates(["City Name", "Country Code"], inplace=True)
cities_df.reset_index(inplace=True)

del cities_df[0]
del cities_df["index"]
cities_df.head()

      City Name Country Code
0    talcahuano           cl
1     taolanaro           mg
2      bac lieu           vn
3         bilma           ne
4  rio gallegos           ar